<robot name="dual_robot_system" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="robot_a.urdf.xacro" />
    <xacro:include filename="robot_b.urdf.xacro" />

    <link name="world_frame"/>

    <xacro:robot_a prefix="A_"/>

    <joint name="world_to_robotA_base" type="fixed">
        <origin xyz="-2.0 0 0" rpy="0 0 0"/> <parent link="world_frame"/>
        <child link="A_link0_passive"/>
    </joint>

    <xacro:robot_b prefix="B_"/>

    <joint name="world_to_robotB_base" type="fixed">
        <origin xyz="2.0 0 0" rpy="0 0 0"/> <parent link="world_frame"/>
        <child link="B_link0_passive"/>
    </joint>

</robot>